@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-1{
    border-top: 5px red solid;
    border-radius: 5px;
    height: 40vh;
    width: 50vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;

}

.casa{
    position: absolute;
    top: 70%;
    left: 80%;
}

.container-2{
    border-top: 5px rgb(16, 172, 151) solid;
    border-radius: 5px;
    height: 40vh;
    width: 50vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-160%, -10%);
    margin-top: 70px;
}

.lupa{
    position: absolute;
    top: 70%;
    left: 80%;
}

.container-3{
    border-top: 5px rgb(255, 208, 0) solid;
    border-radius: 5px;
    height: 40vh;
    width: 50vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 60%);
    margin-top: 70px;

}

.lampada{
    position: absolute;
    top: 70%;
    left: 80%;
}

.container-4{
    border-top: 5px rgb(7, 155, 192) solid;
    border-radius: 5px;
    height: 40vh;
    width: 50vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(60%, -10%);
    margin-top: 70px;
}

.computador{
    position: absolute;
    top: 70%;
    left: 80%;
}

:root{
 --Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

.dparag{
    color: var(--Grayish-Blue);
}

.ptitulo{
    font-weight: 200;
    color: var(--Very-Dark-Blue);
    font-family: "Poppins";
}


.karma-1{
    text-align: left;
    margin-left: 40px;
    color: var(--Very-Dark-Blue);
}

.karma-2{
    text-align: left;
    margin-left: 40px;
    color: var(--Grayish-Blue);
}

.casa-1{
    text-align: left;
    margin-left: 40px;
    color: var(--Very-Dark-Blue);
}

.casa-2{
    text-align: left;
    margin-left: 40px;
    color: var(--Grayish-Blue);
}

.lupa-1{
    text-align: left;
    margin-left: 40px;
    color: var(--Very-Dark-Blue);
}

.lupa-2{
    text-align: left;
    margin-left: 40px;
    color: var(--Grayish-Blue);
}

.computador-1{
    text-align: left;
    margin-left: 40px;
    color: var(--Very-Dark-Blue);
}

.computador-2{
    text-align: left;
    margin-left: 40px;
    color: var(--Grayish-Blue);
}

body{
    text-align: center;
    font-family: Poppins;
}